extends ../base
include ../mixins/info

block content
    article.content-article
        h3.tit_main
            em.emph_tit 클라우드
            span.txt_tit Oracle Cloud
            span.ex_tit 업계 최고의 성능과 안전성을 지향하는 오라클 데이터 베이스를 오직 오라클만이 제공할 수 있는 특화된 서비스와 유연한 가격 정책으로 제공하는 오라클 데이터베이스 클라우드 서비스입니다. 다양한 배포 선택사항을 제공하며 이러한 선택사항을 통해 사용자의 사용 사례에 적합한 비용 및 기능 수준에서 시작할 수 있으며, 이후 시간의 흐름에 따른 요구사항의 변화에 맞출 수 있는 유연성을 확보하게 됩니다.
        +info({url:"https://cdn.pixabay.com/photo/2021/08/01/19/00/cloud-6515064_960_720.jpg", tit:"DBCS", txt:"Database Cloud Service", desc:"업계 최고의 성능과 안전성을 지향하는 오라클 데이터 베이스를 오직 오라클만이 제공할 수 있는 특화된 서비스와 유연한 가격 정책으로 제공하는 오라클 데이터베이스 클라우드 서비스입니다. 다양한 배포 선택사항을 제공하며 이러한 선택사항을 통해 사용자의 사용 사례에 적합한 비용 및 기능 수준에서 시작할 수 있으며, 이후 시간의 흐름에 따른 요구사항의 변화에 맞출 수 있는 유연성을 확보하게 됩니다."})
        +info({url:"https://cdn.pixabay.com/photo/2021/08/09/08/38/cloud-6532831_960_720.jpg", tit:"ATP", txt:"Autonomous Transaction Processing", desc:"고성능 데이터베이스의 운영과 보안의 복잡성을 제거하고 미션 크리티컬 애플리케이션의 요구를 즉시 충족하는 클라우드 데이터베이스 서비스입니다."})
        +info({url:"https://cdn.pixabay.com/photo/2016/03/10/08/49/hand-1248053_960_720.jpg", tit:"ADW+OAC", txt:"Autonomous Data Warehouse & Oracle Analytics Cloud", desc:"탄력적으로 확장되고 빠른 쿼리 성능을 제공하며 데이터베이스 관리가 필요 없는, 사용이 간편하고 완전히 자율적인 데이터베이스를 제공합니다. 또한 ADW는 Oracle의 데이터 시각화 분석 플랫폼인 Oracle Analytics Cloud로 언제 어디서나 빠르고 쉽게 데이터를 분석할 수 있습니다."})
        +info({url:"https://cdn.pixabay.com/photo/2020/06/28/07/12/technology-5348131_960_720.jpg", tit:"OCI", txt:"Oracle Cloud Infrastructure", desc:"퍼블릭 클라우드의 탄력성과 유용성을 온프레미스 인프라의 세분화된 제어, 보안 및 예측 가능성과 결합하여 고성능의 비용 효율적인 인프라 서비스를 제공합니다. 또한 필수 시스템의 요건을 충족하도록 설계되어 기존의 작업을 빠짐없이 지원할 뿐만 아니라 최신 클라우드 개발 툴까지 제공하므로 기업이 미래를 설계하면서 빠르게 발전할 수 있습니다."})
        +info({url:"https://cdn.pixabay.com/photo/2021/07/27/15/03/digitization-6497133_960_720.jpg", tit:"OMC", txt:"Oracle Management Cloud", desc:"애플리케이션 및 인프라를 모니터링하고 관리하기 위한 기존 솔루션과 관련된 인적 노력을 제거합니다. 고객은 온프레미스 환경, Oracle Cloud 환경, 하이브리드 클라우드 환경 및 멀티 클라우드 환경을 관리하는 데 적합하도록 전체 운영 데이터 세트에 대해 이러한 서비스의 다양한 조합을 활용할 수 있습니다."})
        