extends ../base
include ../mixins/title
include ../mixins/info
include ../mixins/detail

block content
    article.content-article
        +tit({emph:"클라우드 서비스", txt:"Oracle Cloud Service", ex:"Oracle Cloud의 클라우드 서비스는 퍼블릭/프라이빗 클라우드를 포괄하며 애플리케이션, 미들웨어, 데이터베이스, 서버, 스토리지, 네트워킹 및 관련 운영 체계, 가상화 소프트웨어 등 광범위한 오라클 제품 기능으로의 확장이 가능합니다. 이투이솔루션즈는 오라클의 협력사로서 20여 년간 축적한 오라클 인프라 분야 전문성을 바탕으로 오라클 클라우드 파트너로서 최적화된 클라우드 서비스를 제공합니다."})
        div.det_cover
            +det({color:"blue", tit:"SELF-DRIVING", desc:"몇 번의 클릭 만으로 손쉬운 Provisioning ∙ 보안, 모니터링, 백업, 복구, 문제 해결 ∙ 실행 중 자동으로 업그레이드 및 패치 ∙ 자체 튜닝을 위한 머신 러닝 적용"})
            +det({color:"blue", tit:"SELF-SECURING", desc:"외부 공격과 악의적 내부 사용자들로부터 자동으로 데이터베이스를 보호 ∙ 모든 데이터의 자동 암호화, Oracle Data Safe ∙ 자동 보안 패치"})
            +det({color:"blue", tit:"SELF-REPAIRING", desc:"모든 다운타임으로부터 자동화된 보호 ∙ AI를 이용해 전례 없는 수준의 신뢰성과 성능 제공 ∙ 95.995% 가용성"})
        div.det_cover
            +tit({txt:"DBCS (Database Cloud Service)", ex:"업계 최고의 성능과 안전성을 지향하는 오라클 데이터 베이스를 오직 오라클만이 제공할 수 있는 특화된 서비스와 유연한 가격 정책으로 제공하는 오라클 데이터베이스 클라우드 서비스입니다. 다양한 배포 선택사항을 제공하며 이러한 선택사항을 통해 사용자의 사용 사례에 적합한 비용 및 기능 수준에서 시작할 수 있으며, 이후 시간의 흐름에 따른 요구사항의 변화에 맞출 수 있는 유연성을 확보하게 됩니다."})
        +tit({txt:"Oracle Database Cloud Service", ex:"애플리케이션 개발, 테스트 및 운영 배포를 위한 탄력적인 데이터베이스 서비스"})
        div.det_cover
            +det({color:"blue", tit:"가용성", desc:"오라클 데이터베이스를 제공하는 서비스 비용과 운영측면에서 유리한 멀티 테넌트 옵션 포함"})
            +det({color:"blue", tit:"보안", desc:"자동화된 데이터 암호화를 통해 데이터베이스 보안 요구사항을 충족 안전한 가상 클라우드 네트워크에 배포하여 외부에서의 접근을 차단 가능"})
            +det({color:"blue", tit:"관리", desc:"데이터베이스에 대한 스토리지와 CPU 동적 확장이 가능 클릭 한 번으로 데이터베이스를 클라우드에 배포 가능 내구성이 높고 가용성이 우수한 저장소로 데이터베이스를 백업 가능"})
        