:root {
  --main-color: rgb(0, 0, 168);
  --serve-color: rgb(123, 191, 255);
  --back-color: rgb(19, 19, 66);
  --black: rgba(0, 0, 0, 0.9);
  --gray: rgba(0, 0, 0, 0.6);
  --smoky: rgba(0, 0, 0, 0.2);
}
