footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $back-color;
  color: white;
  width: 100%;
  height: 85px;

  .bottom__contents {
    display: block;
    padding: 15px;
  }

  .bottom__contents-list {
    display: flex;
    justify-content: left;
    font-size: 17px;
    li {
      padding-left: 10px;
    }
  }
  .txt_copyright {
    font-size: 15px;
    padding-top: 17px;
    padding-left: 10px;
  }

  .bottom__add,
  .bottom__num {
    text-align: right;
    font-size: 17px;
    padding-right: 10px;
  }
  .bottom__add {
    margin-bottom: 7px;
  }
}
