.his_section {
  width: 952px;
  height: 200px;
  margin-top: 60px;
  overflow: hidden;
  margin: 72px auto 0;
  border-radius: 12px;
  box-shadow: 2px 5px 40px 0 rgb(0 0 0 / 7%);
  text-align: left;
}
