.tit_main {
  display: block;
  padding-top: 30px;

  em {
    font-weight: bold;
    font-size: 36px;
    line-height: 52px;
  }
  .txt_tit {
    margin-top: 3px;
    font-size: 25px;
    line-height: 52px;
    display: block;
  }
  .ex_tit {
    margin-top: 35px;
    font-size: 15px;
    line-height: 27px;
    display: block;
  }
}

.tit_info {
  display: block;
  margin-top: 35px;
  padding-bottom: 30px;
  .det_tit {
    font-size: 15px;
    line-height: 27px;
  }
  a {
    font-weight: bold;
    text-decoration: underline;
    text-underline-position: under;
    :hover {
      color: $main-color;
    }
  }
}
