<main
  class="home"
  > <div
  class="home__main"
  > <div
  class="home__contents"
  > <img
  src="img/home.jpg"
  class="home__img"
  /
  > </div
  > <div
  class="home__contents home__text"
  > <h2
  class="home__title"
  > 미래를
  위한
  끊임없는
  도전</h2
  > </div
  > </div
  > </main
  > <main
  class="home"
  > <div
  class="home_s"
  > <div
  class="home__serve home__news"
  > <h3
  > ETOE
  NEWS</h3
  > </div
  > <div
  class="home__serve home__but"
  > <div
  class="home__buttons"
  > <div
  class="home__con home__conc"
  > <h3
  > 컨설팅</h3
  > </div
  > <div
  class="home__con"
  > <div
  class="home__cona"
  > <h3
  > 문의하기</h3
  > </div
  > <div
  class="home__conb"
  > <h3
  > 인재영입</h3
  > </div
  > </div
  > </div
  > <div
  class="home__buttons oracle"
  > <img
  src="img/Oracle-Logo.png"
  class="home__ora"
  /
  > <span
  > 이투이솔루션즈(주)는
  한국오라클의
  공식
  DMP(Directly Managed
              Partner)사
  입니다.</span
  > </div
  > </div
  > </div
  > </main
  > .home {
  display: flex;
  justify-content: center;
}

.home_s {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.home__main {
  width: 80%;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 52px 35px;
}

.home__contents {
  display: flex;
  width: 50%;
}

.home__img {
  width: 100%;
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.home__text {
  width: 50%;
  display: flex;
  align-items: center;
}

.home__title {
  text-align: left;
  font-size: 25px;
  font-weight: 600;
  padding: 25px;
}

.home__serve {
  width: 70%;
}

.home__news {
  width: 30%;
  border-radius: 15px;
  background-color: white;
  font-size: 15px;
}

.home__news h3 {
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
}

.home__but {
  margin-left: 35px;
}

.home__buttons {
  border-radius: 15px;
  background-color: rgb(255, 251, 236);
}

.home__con {
  width: 100%;
  display: flex;
  height: 150px;
  font-size: 15px;
}

.home__cona,
.home__conb {
  width: 50%;
  padding: 20px;
}

.home__conc {
  padding: 20px;
}

.home__cona {
  border-bottom-left-radius: 15px;
  background-color: rgb(146, 198, 240);
  color: white;
}

.home__cona h3,
.home__conb h3,
.home__conc h3 {
  font-size: 18px;
  font-weight: 600;
}

.home__conb {
  border-bottom-right-radius: 15px;
  background-color: rgb(146, 147, 240);
  color: white;
}

.oracle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 35px;
  background-color: white;
  font-size: 15px;
}

.home__ora {
  padding: 0px 45px;
  width: 30%;
}

.oracle span {
  padding: 30px;
}
