.doc-main {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.main__contents {
  position: relative;
  padding-top: 72px;
}

.main__background {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  img,
  video {
    position: absolute;
    object-fit: cover;
    vertical-align: baseline;
    width: 100%;
    height: 100%;
  }
}

.main__title {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__title-txt {
  margin-top: 300px;
  h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
    font-family: "NanumSquareExtraBold", -apple-system;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: -3.5px;
    word-spacing: -0.5px;
    color: white;
  }
}
