mixin det(det={})

    div.det_section
        div.inner_section
            div.wrap_det
                strong.tit_det #{det.tit}
                div.det_cont 
                    p.desc_det #{det.desc}