mixin his(his={})

    div.his_section
        div.inner_section
            div.wrap_img 
                div.img_center
                    img(src=`${his.url}`, width=`${his.width}`)
            div.wrap_cont
                span #{his.txt}
                h2 #{his.tit}