mixin his(his={})

    div.his_section
        div.inner_section
            div.wrap_img 
                img(src=`${his.url}`)
            div.wrap_cont 
                span #{his.txt}
                strong #{his.tit}