$red: #ff1300;
$lightgray: #f9f9f9;
$bg: white;

$baseBackground: #fff;
$main-color: #063c71;
$serve-color: #356395;
$back-color: #1f3041;
$black: #111;
$gray: #333;
$midgray: #555;
$light-gray: #aaaaaa;
$white-gray: #eeeeee;
