$baseBackground: #fff;
$main-color: #033a71;
$serve-color: #316094;
$mid-color: #407bbe;
$light-color: #678aca;
$back-color: #1f3041;
$black: #111;
$gray: #333;
$midgray: #555;
$light-gray: #aaaaaa;
$white-gray: #eeeeee;

$phone: "only screen and (max-width : 768px)";
$desktop: "screen and (min-width : 768px)";
