extends ../base
include ../mixins/title
include ../mixins/detail

block content
    article.content-article
        +tit({emph:"컨설팅", txt:"Technology Consulting", ex:"이투이솔루션즈는 온프레미스(On-premise)와 클라우드(Cloud)의 복합적인 컨설팅을 제공합니다. 2백여 고객사 경험을 바탕으로 고객의 요구사항을 정확히 파악하여, 기업의 비즈니스 변화에 신속하게 대응 가능한 인프라 시스템을 설계하고 세팅합니다. 그리고 다양한 형태의 맞춤용 서비스 항목을 기반으로, 고객사의 환경과 업무를 이해하는 전담팀에 의해 고객의 다양한 요구와 문제점을 신속히 해결하며, 효과적인 기술전수를 통해 고객만족도 향상 및 자체 운영능력을 배양합니다. 또한 당사의 서비스를 계획, 구성하고 수행, 관리 및 전담팀 운영을 총괄하는 전담매니저에 의해 일관성 있는 서비스 (Pro-Active Management Services)를 제공합니다. 실무 경험이 풍부한 컨설턴트가 제공하는 다양한 데이터베이스 컨설팅이 고객의 데이터를 정확하고 우수한 정보로 만들어 줄 것입니다."})
        .det_cover
        div.det_cover
            div.det_inner
                span.tit_ex ৹ 고객 비즈니스와 운영 환경을 이해하는 전담팀에 의한 서비스
                    br
                    | ৹ 제품 분야별 전문가 조직에 의한 시스템 최적화 진단을 통한 고객 시스템 가용성 극대화
                    br
                    | ৹ 효과적인 소프트웨어 버전 관리 및 패치적용으로 시스템 장애를 최대한 사전에 예방
                    br
                    | ৹ 전담팀 및 후선 지원 조직에 의한 신속한 문제 해결
                    br
                    | ৹ 신기술 및 IT 솔루션 전수로 운영능력 향상
