extends ../base
include ../mixins/title
include ../mixins/detail

block content
    article.content-article
        +tit({emph:"컨설팅", txt:"Technology Consulting", ex:"이투이솔루션즈는 온프레미스(On-premise)와 클라우드(Cloud)의 복합적인 컨설팅을 제공 합니다. 2백여 고객사 경험을 바탕으로 고객의 요구사항을 정확히 파악하여, 기업의 비즈니스 변화에 신속하게 대응 가능한 인프라 시스템을 설계하고 세팅합니다."})
        div.det_cover
            