extends ../base
include ../mixins/title
include ../mixins/detail

block content
    article.content-article
        +tit({emph:"기술지원", txt:"Technology Support", ex:"이투이솔루션즈는 오라클 인프라 솔루션 분야 최고의 파트너(Oracle Partner Forum Korea Partner of the Year - Autonomous Database 수상)로 온프레미스(On-premise)와 클라우드(Cloud)를 아우르는 인프라 시스템 컨설팅을 합니다. 2백여 고객사 경험을 바탕으로 고객의 요구사항을 정확히 파악하여, 기업의 비즈니스 변화에 신속하게 대응 가능한 인프라 시스템을 설계하고 세팅합니다."})
        div.det_cover
            +tit({txt:"기술 지원 방식", ex:"제품 설치 후 무상 보증기간 동안 시스템 업그레이드, 모니터링, 버그리포트 작성, 장애 지원 등의 기술 지원 서비스가 제공됩니다. 무상 보증기간 완료 시점 부터는 연 단위의 별도 유지보수 계약을 통해 최적화된 기술 지원 서비스를 제공합니다."})
        div.det_cover
            +det({tit:"24x7x365", desc:"2시간 이내 응답 / 온사이트(On-site), 전화, 이메일 등 고객사의 상황에 적합한 채널 판단 후 서비스 제공"})
            +det({tit:"서비스", desc:"설치, 업그레이드, 튜닝, 장애 지원, 정기 점검 (버그 리포트 및 주요 변경 사항 공유)"})
            +det({tit:"부가 서비스", desc:"운영 매뉴얼 제공, 모니터링 제공, 비상 연락망 체제 지원"})
        