extends ../base
include ../mixins/title
include ../mixins/info

block content
    article.content-article
        +tit({emph:"EDP", txt:"Etoe solutions Development Plan : 이투이솔루션즈 임직원을 위한 교육지원 정책", ex:"이투이솔루션즈는 회사 경쟁력의 핵심은 인재라는 신념아래 인재 양성에 많은 투자를 하고 있습니다. 개인의 자기계발을 중시하여 지원을 아끼지 않으며, 교육의 성과가 경영의 결과로 직접 연결 될 수 있도록 직급별, 분야별로 차별화된 맞춤교육을 실시함으로써 임직원들의 능력 향상을 꾀하고 있습니다.회사는 다양하고 체계적인 교육훈련 System을 통해 개개인의 자기 계발을 위한 토대를 마련하고, 직원은 회사의 경쟁력 향상과 경영성과 제고에 기여하도록 돕는 제도이며, 전직원이 교육의 필요성을 느끼도록 학습문화의 필요성을 조성하는데 노력하고 있으며, 교육 우수자에게 한하여 특별 포상을 부여하고 있습니다."})
