.info_section {
  width: 952px;
  height: 558px;
  margin-top: 60px;
  overflow: hidden;
  margin: 72px auto 0;
  border-radius: 12px;
  box-shadow: 2px 5px 40px 0 rgb(0 0 0 / 9%);
  text-align: left;
}

.inner_section {
  display: flex;
  height: 100%;
}

.wrap_img {
  max-width: 476px;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.wrap_cont {
  max-width: 476px;
  overflow: hidden;
  position: relative;
  flex: 1;
  box-sizing: border-box;
  background-color: white;
  padding: 60px;
  strong {
    display: block;
    font-size: 30px;
    line-height: 52px;
    font-weight: bold;
    color: $black;
    word-break: keep-all;
  }
  span {
    display: block;
    margin-top: 8px;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    color: $light-gray;
  }
}

.info_cont {
  right: 60px;
  bottom: 60px;
  left: 60px;
  position: absolute;
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 14px;
    line-height: 24px;
    color: $gray;
    word-break: keep-all;
  }
}
