extends ../base
include ../mixins/info
include ../mixins/title

block content
    article.content-article
        +tit({emph:"소개", txt:"끊임없이 도전하는 이투이"})
        +info({url:"https://cdn.pixabay.com/photo/2020/11/25/15/30/smileys-5776137_960_720.jpg", tit:"고객의 감동", txt:"상호 이해와 신뢰를 바탕으로 한 회사", desc:"2004년 Oracle 및 Veritas, 베어링포인트의 파트너사 계약을 시작으로, IBK기업은행, 철도청, 국민체육진흥공단, 등의 공공부문 뿐만 아니라, SK텔레콤 차세대 시스템 구축 사업의 컨설팅 등에도 참여를 시작 하였습니다. 아울러, CJ 홈쇼핑 통합신정보 시스템 구축 사업 및 인터파크 DW 프로젝트  사업, 현대해상 화재보험 차세대 시스템 프로젝트 등에 컨설팅을 참여해, 컨설팅 전문 기업으로 성장하고 있습니다."})
        +info({url:"https://cdn.pixabay.com/photo/2016/10/09/08/32/digital-marketing-1725340_960_720.jpg", tit:"최상의 솔루션", txt:"축적된 기술적 자산으로 최상의 컨설팅과 솔루션 제공", desc:"다양한 사이트의 고객에게 기술력을 인정받아왔습니다. 이제 대한민국을 대표하는 IT 컨설팅 전문기업으로 우뚝서게 되었습니다."})
        +info({url:"https://cdn.pixabay.com/photo/2019/10/23/08/17/data-4570804_960_720.jpg", tit:"빠르고 정확한 서비스", txt:"고객 사업의 성공을 위한 비즈니스 파트너", desc:"국내 최고의 IT전문 기술인력 확보, 국내 최고 수준의 DB관리 및 Data 관리 및 컨설팅 서비스 경험은 고객의 다양한 요구에도 신속, 완벽하게 대응할 수 있는 이투이솔루션즈만의 저력입니다. 이투이솔루션즈는 고객을 위한 차별화된 서비스로 고객만족을 이뤄가겠습니다."})
