extends ../base
include ../mixins/title
include ../mixins/history

block content
    article.content-article
        +tit({emph:"소개", txt:"끊임없이 도전하는 이투이", ex:"이투이솔루션즈는 Data Management 분야, 데이터 아키텍처(DA), EDW, 성능 진단 및 고도화 컨설팅 분야에 있어서 최고의 전문 인력을 갖추고 있으며, 수많은 프로젝트를 통해 쌓은 경험과 지식으로 고객의 데이터베이스 활용과 글로벌 경쟁력 강화를 위해 최고의 기술력과 서비스를 제공하고 있습니다. 앞으로도 고객과 더불어, 처음부터 끝까지 완결된 서비스를 제공하여 성공적인 정보시스템 구축과 운영에 도움이 되는 동반자로 함께 하겠습니다."})
        +his({url:"https://blog.kakaocdn.net/dn/Brop5/btqy0pZ3Nsp/ZpsMQnl64Uz0WQJjXXgI7k/img.jpg", width:"300", txt:"2022년 12월", tit:"기업은행 통합 유지 보수 계약 체결"})
        +his({url:"https://www.pathforward.org/wp-content/uploads/2017/09/O_Data_Cloud_CLR.png", width:"300", txt:"2006년 9월", tit:"Oracle DMP(Directly Managed Partner) 선정"})
        +his({url:"/assets/img/speclogo.png", width:"200", txt:"2004년 2월", tit:"이투이솔루션즈(주) 설립"})
        