doctype html
html(lang="ko")
    head
        meta(charset='utf-8')
        title 이투이솔루션즈(주)
        meta(name='description', content='미래에 대한 설레임을 이투이와 함께')
        link(rel="icon" sizes="32x32" href="/assets/img/logo.png")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css")
        link(rel="stylesheet" href="/assets/css/styles.css")
    body 
        include partials/header
        main
            section.doc-main
                block background
                    div.main__contents
                        block content
        include partials/footer
        script(type="text/javascript", src="https://code.jquery.com/jquery-latest.js")
        script(type="text/javascript", src="/assets/js/main.js") 
        