doctype html
html(lang="ko")
    head
        title 이투이솔루션즈(주)
        link(rel="icon" sizes="32x32" src="/static/img/logo.png")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css")
        link(rel="stylesheet" href="/assets/css/styles.css")
    body 
        include partials/header
        main
            section.doc-main
                block background
                    div.main__contents
                        block content
        include partials/footer
        script(src="http://code.jquery.com/jquery-latest.js")
        script(src="/assets/js/main.js") 
        