extends base

block background
    div.main__background
        img(src="/static/img/main-background.png")
    div.main__title
        div.main__title-txt
            h1(id="bold") 미래에 대한 설레임을 이투이와 함께