footer
    div.bottom__contents
        ul.bottom__contents-list
            li
                a(href="/") 홈
            li
                a(href="/") 이용약관
            li
                a(href="/") 사이트맵
            li
                a(href="/") 문의하기
        div.txt_copyright &copy;
            a(href="/")  ETOE solutions. All Rights Reserved.
    div.bottom__contents
        div.bottom__add 06621 서울시 서초구 강남대로 359, 도씨에빛 2차 1902호
        div.bottom__num TEL: 02) 402-4222 FAX: 070-4134-2216