header
    div.wrap_header
        div.header__title
            a(href="/")
                img(src="../static/img/logo.png")
        nav.header__contents
          ul.header__contents-list
            li.list_main 이투이
                ul.list_sub
                    li
                        a(href="/etoe") 소개
                    li
                        a(href="/etoe/vision") 비전
            li.list_main 솔루션
                ul.list_sub
                    li
                        a(href="/solution") Oracle Tech
                    li
                        a(href="/solution/middleware") Oracle Middleware
                    li
                        a(href="/solution/support") 기술지원
                    li
                        a(href="/solution/consulting") 컨설팅
            li.list_main 클라우드
                ul.list_sub
                    li
                        a(href="/cloud") Oracle Cloud
                    li
                        a(href="/cloud/service") Cloud Service
            li.list_main
                a(href="/contact") 컨택트
            li.list_main 채용
                ul.list_sub
                    li
                        a(href="/career") 인재상
                    li
                        a(href="/career/education") 교육제도
                    li
                        a(href="/career/jobs") 채용안내
        div.header__util