header
    div(class="wrap_header")
        div(class="header__title")
            a(href="home.html")
                img(src="../img/logo.png")
        nav(class="header__contents")
          ul(class="header__contents-list")
            li(aria-haspopup="true") 이투이
                ul(class="list_sub")
                    li 소개
                    li 비전
            li(aria-haspopup="true") 솔루션
                ul(class="list_sub")
                    li Oracle Tech
                    li Oracle Middleware
                    li 기술지원
                    li 컨설팅
            li(aria-haspopup="true") 클라우드
                ul(class="list_sub")
                    li Oracle Cloud
                    li Cloud Service
            li(aria-haspopup="true") 컨택트
            li(aria-haspopup="true") 채용
                ul(class="list_sub")
                    li 인재상
                    li 교육제도
                    li 복리후생
                    li 채용안내
        div(class="header__util")
            div
                svg(width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd")
                    path(d="M15.853 16.56c-1.683 1.517-3.911 2.44-6.353 2.44-5.243 0-9.5-4.257-9.5-9.5s4.257-9.5 9.5-9.5 9.5 4.257 9.5 9.5c0 2.442-.923 4.67-2.44 6.353l7.44 7.44-.707.707-7.44-7.44zm-6.353-15.56c4.691 0 8.5 3.809 8.5 8.5s-3.809 8.5-8.5 8.5-8.5-3.809-8.5-8.5 3.809-8.5 8.5-8.5z")
            div
                svg(width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd")
                    path(d="M24 18v1h-24v-1h24zm0-6v1h-24v-1h24zm0-6v1h-24v-1h24z" fill="#1040e2")
                    path(d="M24 19h-24v-1h24v1zm0-6h-24v-1h24v1zm0-6h-24v-1h24v1z")