.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid var(--smoky);
  padding: 15px 10px;
  background-color: white;
}

.menu__title {
  width: 15%;
  text-align: center;
}

.menu__title h1 {
  font-size: 30px;
  font-weight: 600;
  color: var(--main-color);
  margin-bottom: 3px;
}

.menu__contents {
  width: 45%;
  margin-right: 20px;
}

.menu__contents-list {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.menu__login {
  width: 7%;
  font-size: 12px;
}

.home {
  display: flex;
  justify-content: center;
}

.home_s {
  width: 80%;
}

.home__main {
  width: 80%;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 52px 35px;
}

.home__contents {
  display: flex;
  width: 50%;
}

.home__img {
  width: 100%;
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.home__text {
  width: 50%;
  display: flex;
  align-items: center;
}

.home__title {
  text-align: left;
  font-size: 25px;
  font-weight: 600;
  padding: 25px;
}

.home__serve {
  width: 70%;
  background-color: white;
  margin: 30px;
}

.home__news {
  width: 30%;
}

.home__buttons {
  border: 0.5px solid var(--gray);
}

.home__con,
.home__cont {
  border: 0.5px solid var(--gray);
}

.home__con {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 150px;
}

.home__cont {
  width: 50%;
}

.home__ora {
  width: 30%;
}
