body {
  background-color: var(--baseBackground);
  overflow-x: hidden;
  overflow-y: scroll;
  word-break: keep-all;
  word-wrap: break-word;
}

body:not(.main__title) {
  font-family: "NanumSquare", -apple-system;
  color: var(--black);
}

header {
  font-weight: bolder;
  text-align: center;
}

footer {
  display: block;
}
